mule-migration-tool-e2e-tests/src/test/resources/e2e/http/http2Mvn/output_nc/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:httpn="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:request-config name="requesterConfig">
        <http:request-connection host="https://httpbin.org" port="443" />
    </http:request-config>

    <flow name="listenerContentType">
        <set-payload value="{ &quot;key1&quot; : &quot;value&quot;, &quot;key2&quot; : 2 }" mimeType="application/json" encoding="UTF-8" />

        <http:request config-ref="requesterConfig" path="/post" method="POST">
            <!--Migration WARN: No compatibility mode is not fully implemented so connectors might experience issues with missing inbound/outbound property migrations.-->
            <http:headers><![CDATA[#[vars filterObject ($$ startsWith 'outbound_') mapObject {($$ dw::core::Strings::substringAfter '_'): $}]]]></http:headers>
        </http:request>

    </flow>

</mule>
