mule-migration-tool-e2e-tests/src/test/resources/e2e/jms/transformer_refs/output/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:compression="http://www.mulesoft.org/schema/mule/compression" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd http://www.mulesoft.org/schema/mule/compression http://www.mulesoft.org/schema/mule/compression/current/mule-compression.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <jms:config name="JmsConfig" />

    <flow name="flow">
        <compression:compress>
            <compression:compressor>
                <compression:gzip-compressor />
            </compression:compressor>
        </compression:compress>

        <compression:decompress outputMimeType="application/xml">
            <compression:decompressor>
                <compression:gzip-decompressor />
            </compression:decompressor>
        </compression:decompress>

        <compatibility:outbound-properties-to-var>
            <!--Migration WARN: Instead of using outbound properties in the flow, move the expression that sets the property into the XML attribute (such as 'method') of the operation or listener that accepts the expression.-->
            <!--    For more information refer to:-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
        </compatibility:outbound-properties-to-var>

        <jms:publish sendCorrelationId="#[migration::JmsTransport::jmsSendCorrelationId(vars)]" config-ref="JmsConfig" destination="out">
            <!--Migration WARN: Avoid using properties to set the JMS properties and headers.-->
            <!--    For more information refer to:-->
            <!--        * https://docs.mulesoft.com/mule-runtime/4.3/migration-connectors-jms#SendingMessages-->
            <jms:message correlationId="#[migration::JmsTransport::jmsCorrelationId(correlationId, vars)]">
                <jms:reply-to destination="#[migration::JmsTransport::jmsPublishReplyTo(vars)]" />
                <jms:properties>#[migration::JmsTransport::jmsPublishProperties(vars)]</jms:properties>
            </jms:message>
        </jms:publish>

        <compatibility:attributes-to-inbound-properties>
            <!--Migration WARN: Expressions that query 'inboundProperties' from the message should instead query the message 'attributes'. Remove this component if there are no uses of 'inboundProperties' in expressions or components that rely on 'inboundProperties' (such as 'copy-properties').-->
            <!--    For more information refer to:-->
            <!--        * https://docs.mulesoft.com/mule-runtime/4.3/intro-mule-message#inbound-properties-are-now-attributes-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#inbound_properties-->
        </compatibility:attributes-to-inbound-properties>

    </flow>

</mule>
