mule-migration-tool-e2e-tests/src/test/resources/e2e/http/http1/output_nc/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:httpn="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="httpConf">
        <http:listener-connection host="localhost" port="${httpPort}" />
    </http:listener-config>

    <flow name="listenerContentType">
        <http:listener config-ref="httpConf" path="testInput">
            <http:response statusCode="#[migration::HttpListener::httpListenerResponseSuccessStatusCode(vars)]">
                <!--Migration WARN: Avoid using an outbound property to determine the status code.-->
                <!--    For more information refer to:-->
                <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
                <http:headers>#[migration::HttpListener::httpListenerResponseHeaders(vars)]</http:headers>
            </http:response>
            <!--Migration WARN: No compatibility mode is not fully implemented so connectors might experience issues with missing inbound/outbound property migrations.-->
            <http:error-response statusCode="#[vars.statusCode default migration::HttpListener::httpListenerResponseErrorStatusCode(vars)]">
                <!--Migration WARN: Avoid using an outbound property to determine the status code.-->
                <!--    For more information refer to:-->
                <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
                <http:headers>#[migration::HttpListener::httpListenerResponseHeaders(vars)]</http:headers>
            </http:error-response>
        </http:listener>

        <set-payload value="{ &quot;key1&quot; : &quot;value, &quot;key2&quot; : 2 }" mimeType="application/json" encoding="UTF-8" />

    </flow>

</mule>
