mule-migration-tool-e2e-tests/src/test/resources/e2e/http/httpTransport5/output_nc/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:request-config name="ProductDataSourceRepositoryRequestConfig">
        <http:request-connection host="localhost" port="8080" />
    </http:request-config>

    <flow name="ProductDataSourceRepository">
        <http:request method="POST" path="/" config-ref="ProductDataSourceRepositoryRequestConfig">
            <!--Migration WARN: No compatibility mode is not fully implemented so connectors might experience issues with missing inbound/outbound property migrations.-->
            <http:headers>#[migration::HttpRequester::httpRequesterTransportHeaders(vars)]</http:headers>
        </http:request>

    </flow>

</mule>
