mule-migration-tool-e2e-tests/src/test/resources/e2e/integration/compatibility-02/input/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>

    <flow name="flowWithSource">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/file" doc:name="HTTP">
            <http:response-builder>
                <http:header headerName="isTest" value="#[message.inboundProperties.myOutbound == 'test']"/>
                <http:header headerName="secondHeader" value="#[message.inboundProperties[message.inboundProperties.myOutbound]]"/>
            </http:response-builder>
        </http:listener>

        <logger message="#['HTTP called with the following headers:' ++ message.inboundProperties['http.headers']]" level="INFO" doc:name="Logger" />
    </flow>

    <flow name="Test">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/testinbound" allowedMethods="GET" doc:name="HTTP">
            <http:response-builder>
                <http:header headerName="isTest" value="#[message.inboundProperties.isTest]"/>
            </http:response-builder>
        </http:listener>

        <set-property propertyName="myOutbound" value="#[message.inboundProperties.'http.query.params'.'type']" doc:name="Property" />

        <http:request config-ref="HTTP_Request_Configuration" path="/subflow" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="isTest" value="#[message.outboundProperties.myOutbound == 'test']"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
