mule-migration-tool-library/src/test/resources/mule/apps/requestReply/request-reply-06.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <jms:config name="jms-connector">
        <jms:active-mq-connection
            specification="JMS_1_0_2b">
            <jms:caching-strategy>
                <jms:no-caching />
            </jms:caching-strategy>
        </jms:active-mq-connection>
    </jms:config>

    <flow name="flow">
        <jms:publish-consume config-ref="jms-connector" destination="request"
                             sendCorrelationId="#[migration::JmsTransport::jmsSendCorrelationId(vars)]">
            <jms:message correlationId="#[migration::JmsTransport::jmsCorrelationId(correlationId, vars)]">
                <jms:reply-to destination="reply" destinationType="QUEUE"/>
                <jms:properties>#[migration::JmsTransport::jmsPublishProperties(vars)]</jms:properties>
            </jms:message>
        </jms:publish-consume>
    </flow>
</mule>