mule-migration-tool-library/src/test/resources/mule/apps/requestReply/request-reply-07.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <vm:config name="vmConfig">
        <vm:queues />
    </vm:config>

    <flow name="flow">
        <vm:publish-consume queueName="request"/>
        <logger level="ERROR" message="Got to inbound endpoint: #[payload]"/>
    </flow>
</mule>