mule-migration-tool-library/src/test/resources/mule/apps/requestReply/request-reply-10.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
      xsi:schemaLocation="
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
       http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
       http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd">

    <vm:config name="VmConfig">
        <vm:queues>
            <vm:queue queueName="request" queueType="TRANSIENT" />
        </vm:queues>
    </vm:config>

    <flow name="flow">
        <compatibility:outbound-properties-to-var consumeStreams="true"/>
        <set-variable value="#[payload]" variableName="compatibility_requestReplyPayload"/>
        <set-variable value="#[attributes]" variableName="compatibility_requestReplyAttributes"/>
        <vm:publish-consume queueName="request" config-ref="VmConfig">
            <vm:content>#[output application/java --- {'_vmTransportMode': true, 'payload': payload.^raw, 'mimeType': payload.^mimeType, 'session': vars.compatibility_outboundProperties['MULE_SESSION']}]</vm:content>
        </vm:publish-consume>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:message>
              <ee:set-payload>vars.compatibility_requestReplyPayload</ee:set-payload>
              <ee:set-attributes>vars.compatibility_requestReplyAttributes</ee:set-attributes>
            </ee:message>
        </ee:transform>
        <remove-variable variableName="compatibility_requestReplyPayload"/>
        <remove-variable variableName="compatibility_requestReplyAttributes"/>
        <compatibility:attributes-to-inbound-properties/>
    </flow>
</mule>