mule-migration-tool-e2e-tests/src/test/resources/e2e/http/httpTransport1/output_nc/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="httpInListenerConfig">
        <http:listener-connection host="localhost" port="8080" />
    </http:listener-config>

    <flow name="httpIn">
        <http:listener config-ref="httpInListenerConfig" path="/*">
            <!--Migration WARN: No compatibility mode is not fully implemented so connectors might experience issues with missing inbound/outbound property migrations.-->
            <http:response statusCode="#[200]">
                <http:headers><![CDATA[#[vars filterObject ($$ startsWith 'outbound_') mapObject {($$ dw::core::Strings::substringAfter '_'): $}]]]></http:headers>
            </http:response>
            <http:error-response>
                <http:headers><![CDATA[#[vars filterObject ($$ startsWith 'outbound_') mapObject {($$ dw::core::Strings::substringAfter '_'): $}]]]></http:headers>
            </http:error-response>
        </http:listener>

        <choice>
            <!--Migration WARN: This replicates logic from the HTTP transport. Remove it if it is not needed.-->
            <when expression="#[message.attributes.headers['Transfer-Encoding'] == null and (message.attributes.headers['Content-Length'] as Number default 0) == 0]">
                <set-payload value="#[message.attributes.requestUri]" />
            </when>
        </choice>

        <try>
            <validation:matches-regex value="#[message.attributes.requestPath]" regex="^(?!.*.ico).*$" />
            <error-handler>
                <on-error-propagate type="MULE:VALIDATION">
                    <set-variable variableName="statusCode" value="406" />
                </on-error-propagate>
            </error-handler>
        </try>

        <logger />

    </flow>

</mule>
