mule-migration-tool-e2e-tests/src/test/resources/e2e/integration/graph_cycles5/input/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">

    <http:request-config name="requesterConfig" protocol="HTTP" host="httpbin.org" port="443"/>
    <file:connector name="File" outputPattern="test123.txt" autoDelete="true" streaming="true" validateConnections="true" />

    <flow name="mainFlow">
        <file:inbound-endpoint path="someDir" connector-ref="File"/>
        <flow-ref name="subFlow1"/>
    </flow>

    <sub-flow name="subFlow1">
        <flow-ref name="subFlow2"/>
        <logger message="#[message.inboundProperties['filename']]" />
    </sub-flow>

    <sub-flow name="subFlow2">
        <flow-ref name="subFlow1"/>
        <logger message="#[message.inboundProperties['filename']]" />
    </sub-flow>

</mule>
