mule-migration-tool-e2e-tests/src/test/resources/e2e/integration/compatibility-01/output_nc/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" doc:name="HTTP Listener Configuration">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <flow name="mainFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/main" doc:name="HTTP">
            <!--Migration WARN: No compatibility mode is not fully implemented so connectors might experience issues with missing inbound/outbound property migrations.-->
            <http:response statusCode="#[200]">
                <http:headers>#[vars filterObject ($$ startsWith 'outbound_') mapObject {($$ dw::core::Strings::substringAfter '_'): $}]</http:headers>
            </http:response>
            <http:error-response>
                <http:headers>#[vars filterObject ($$ startsWith 'outbound_') mapObject {($$ dw::core::Strings::substringAfter '_'): $}]</http:headers>
            </http:error-response>
        </http:listener>

        <set-variable variableName="someVar" value="123" doc:name="Variable" />

        <flow-ref name="flow2" doc:name="Flow Reference" />
    </flow>

    <sub-flow name="flow2">
        <logger message="#['Source called with queryParams' ++ message.attributes.queryParams]" level="INFO" doc:name="Logger" />
        <set-variable variableName="anotherVar" value="hello" doc:name="variable2" />
        <flow-ref name="flow3" doc:name="Flow Reference" />
    </sub-flow>

    <sub-flow name="flow3">
        <logger message="#['Source called with method' ++ message.attributes.method]" level="INFO" doc:name="Logger" />
    </sub-flow>

    <flow name="anotherApi">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api" doc:name="HTTP">
            <!--Migration WARN: No compatibility mode is not fully implemented so connectors might experience issues with missing inbound/outbound property migrations.-->
            <http:response statusCode="#[200]">
                <http:headers>#[vars filterObject ($$ startsWith 'outbound_') mapObject {($$ dw::core::Strings::substringAfter '_'): $}]</http:headers>
            </http:response>
            <http:error-response>
                <http:headers>#[vars filterObject ($$ startsWith 'outbound_') mapObject {($$ dw::core::Strings::substringAfter '_'): $}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Logger" />
    </flow>

</mule>
