mule-migration-tool-e2e-tests/src/test/resources/e2e/cache/cache1/output_nc/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:request-config name="requesterConfig">
        <http:request-connection host="https://httpbin.org" port="443" />
    </http:request-config>

    <flow name="listenerContentType">
        <set-payload value="{ &quot;key1&quot; : &quot;value&quot;, &quot;key2&quot; : 2 }" mimeType="application/json" encoding="UTF-8" />

        <ee:cache>
            <http:request config-ref="requesterConfig" path="/post" method="POST">
                <!--Migration WARN: No compatibility mode is not fully implemented so connectors might experience issues with missing inbound/outbound property migrations.-->
                <http:headers>#[migration::HttpRequester::httpRequesterHeaders(vars)]</http:headers>
            </http:request>
        </ee:cache>

    </flow>

</mule>
