mule-migration-tool-library/src/test/resources/mule/apps/core/error-handling-05-original.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="localhost" port="8081" />
    </http:listener-config>

   <flow name="choiceAndRollback">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" isMessageSource="true"/>
        <logger/>
        <choice-exception-strategy>
            <catch-exception-strategy when="#[exception.causedBy(java.lang.IllegalArgumentException)]">
                <logger/>
            </catch-exception-strategy>
            <rollback-exception-strategy maxRedeliveryAttempts="10" when="#[exception.causedBy(java.lang.IllegalStateException)]" >
                <logger/>
            </rollback-exception-strategy>
        </choice-exception-strategy>
    </flow>

</mule>