mule-migration-tool-library/src/test/resources/mule/apps/core/error-handling-05.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="HTTP_Listener_config">
        <http:listener-connection host="localhost" port="8081" />
    </http:listener-config>

    <flow name="choiceAndRollback">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" isMessageSource="true">
            <redelivery-policy maxRedeliveryCount="10"/>
        </http:listener>
        <logger/>
        <error-handler>
            <on-error-continue when="#[mel:exception.causedBy(java.lang.IllegalArgumentException)]">
                <logger/>
            </on-error-continue>
            <on-error-propagate when="#[mel:exception.causedBy(java.lang.IllegalStateException)]">
                <logger/>
            </on-error-propagate>
        </error-handler>
    </flow>

</mule>