mule-migration-tool-e2e-tests/src/test/resources/e2e/integration/no_compatibility_translation_errors/input/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
      http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="sftp-flow">
        <sftp:inbound-endpoint name="inboundEndpoint" address="sftp://${USER1_NAME}:${USER1_PASSWORD}@${SFTP_HOST}:${SFTP_PORT}/~/data" />

        <!-- transport present -->
        <logger message="#[message.inboundProperties['filename']]" />

        <!-- transport not present -->
        <logger message="#[message.inboundProperties['fileSize']]" />

        <!-- non-existent -->
        <logger message="#[message.inboundProperties['unknown']]" />

    </flow>

</mule>
