mule-migration-tool-e2e-tests/src/test/resources/e2e/jms/jms1Mvn/output_nc/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <jms:config name="myJmsConnector">
        <jms:active-mq-connection specification="JMS_1_0_2b">
            <jms:caching-strategy>
                <jms:no-caching />
            </jms:caching-strategy>
        </jms:active-mq-connection>
    </jms:config>

    <flow name="jmsBridge">
        <jms:listener config-ref="myJmsConnector" destination="in">
            <!--Migration WARN: No compatibility mode is not fully implemented so connectors might experience issues with missing inbound/outbound property migrations.-->
        </jms:listener>

        <jms:publish sendCorrelationId="#[migration::JmsTransport::jmsSendCorrelationId(vars)]" config-ref="myJmsConnector" destination="out">
            <!--Migration WARN: No compatibility mode is not fully implemented so connectors might experience issues with missing inbound/outbound property migrations.-->
            <!--Migration WARN: Avoid using properties to set the JMS properties and headers.-->
            <!--    For more information refer to:-->
            <!--        * https://docs.mulesoft.com/mule-runtime/4.3/migration-connectors-jms#SendingMessages-->
            <jms:message correlationId="#[migration::JmsTransport::jmsCorrelationId(correlationId, vars)]">
                <jms:reply-to destination="#[migration::JmsTransport::jmsPublishReplyTo(vars)]" />
                <jms:properties>#[migration::JmsTransport::jmsPublishProperties(vars)]</jms:properties>
            </jms:message>
        </jms:publish>

    </flow>

</mule>
