mule-migration-tool-e2e-tests/src/test/resources/e2e/file/file3/output_nc/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="Test">
        <file:listener directory="${workingDirectory}" applyPostActionWhenFailed="false" recursive="false" autoDelete="true">
            <!--Migration WARN: No compatibility mode is not fully implemented so connectors might experience issues with missing inbound/outbound property migrations.-->
            <scheduling-strategy>
                <fixed-frequency frequency="1000" />
            </scheduling-strategy>
        </file:listener>

        <validation:is-true expression="#[true /* replicate the logic of 'org.mule.transport.file.FileRecursiveFileFilterTestCase$TxtFileFilter' in DataWeave */]">
            <!--Migration ERROR: Filters are replaced with the Validations module.-->
            <!--    For more information refer to:-->
            <!--        * https://docs.mulesoft.com/mule-runtime/4.3/migration-filters#migrating_custom_or_complex_filters-->
        </validation:is-true>

        <logger />

        <error-handler>
            <on-error-propagate type="MULE:VALIDATION" logException="false">
                <set-variable variableName="filtered" value="#[true]" />
            </on-error-propagate>
        </error-handler>

    </flow>

</mule>
