mule-migration-tool-library/src/test/resources/mule/apps/splitter-aggregator/collection-splitter-aggregator-01.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd
      http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <vm:config name="vm">
        <vm:queues>
            <vm:queue queueName="splitAggregateQueue" queueType="TRANSIENT" />
        </vm:queues>
    </vm:config>

    <flow name="main">
        <set-payload value="#[['a','b','c']]"/>
        <foreach>
            <aggregators:group-based-aggregator name="splitAggregate" groupId="id" groupSize="3" evictionTime="0">
                <aggregators:aggregation-complete>
                    <vm:publish config-ref="vm" queueName="splitAggregateQueue"/>
                </aggregators:aggregation-complete>
            </aggregators:group-based-aggregator>
        </foreach>
        <vm:consume queueName="splitAggregateQueue" config-ref="vm"/>
    </flow>

</mule>