mule-migration-tool-library/src/test/resources/mule/apps/splitter-aggregator/map-splitter-aggregator-01.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:aggregators="http://www.mulesoft.org/schema/mule/aggregators"
      xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/aggregators http://www.mulesoft.org/schema/mule/aggregators/current/mule-aggregators.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <vm:config name="splitter-aggregator-vm-config1785408738">
        <vm:queues>
            <vm:queue queueName="map-splitter0-vm-queue"/>
        </vm:queues>
    </vm:config>

    <flow name="main">
        <set-variable variableName="map-splitter0-group-size" value="#[sizeOf(payload)]"/>
        <foreach collection="#[dw::core::Objects::entrySet(payload)]">
            <logger message="does not matter"/>
            <aggregators:group-based-aggregator name="map-splitter0-aggregator"
                                                groupSize="#[vars.map-splitter0-group-size]"
                                                evictionTime="0">
                <aggregators:aggregation-complete>
                    <vm:publish config-ref="splitter-aggregator-vm-config1785408738" queueName="map-splitter0-vm-queue"/>
                </aggregators:aggregation-complete>
            </aggregators:group-based-aggregator>
        </foreach>
        <vm:consume config-ref="splitter-aggregator-vm-config1785408738" queueName="map-splitter0-vm-queue"/>
    </flow>

</mule>
