mule-migration-tool-library/src/test/resources/mule/apps/jms/jms-outbound-01.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility"
    xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <jms:config name="JmsConfig"/>

    <flow name="flow">
        <compatibility:outbound-properties-to-var/>
        <jms:publish config-ref="JmsConfig" destination="out"
                     sendCorrelationId="#[if (vars.compatibility_outboundProperties.MULE_CORRELATION_ID == null) 'NEVER' else 'ALWAYS']">
            <jms:message correlationId="#[vars.compatibility_outboundProperties.MULE_CORRELATION_ID default correlationId]"/>
        </jms:publish>
        <compatibility:attributes-to-inbound-properties/>
    </flow>

</mule>
