mule-migration-tool-e2e-tests/src/test/resources/e2e/integration/compatibility-07/output/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:compatibility="http://www.mulesoft.org/schema/mule/compatibility" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/compatibility http://www.mulesoft.org/schema/mule/compatibility/current/mule-compatibility.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <http:listener-config name="HTTP_Listener_Configuration" doc:name="HTTP Listener Configuration">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <flow name="flow2" maxConcurrency="1">
        <!--Migration INFO: The 'flow' element no longer has a 'processingStrategy' attribute.-->
        <!--    For more information refer to:-->
        <!--        * https://docs.mulesoft.com/mule-runtime/4.3/intro-engine-->
        <logger message="#['My outbound is:' ++ vars.compatibility_outboundProperties.myOutbound]" level="INFO" doc:name="Logger" />

        <compatibility:set-property propertyName="myOutbound2" value="#[vars.compatibility_outboundProperties.'myOutbound']" doc:name="SecondProperty">
            <!--Migration WARN: Instead of using outbound properties in the flow, move the expression that sets the property into the XML attribute (such as 'method') of the operation or listener that accepts the expression.-->
            <!--    For more information refer to:-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
        </compatibility:set-property>

        <compatibility:remove-property propertyName="myOutbound" doc:name="RemoveProperty">
            <!--Migration WARN: Instead of using outbound properties in the flow, move the expression that sets the property into the XML attribute (such as 'method') of the operation or listener that accepts the expression.-->
            <!--    For more information refer to:-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
        </compatibility:remove-property>

        <logger message="#['My outbound is:' ++ vars.compatibility_outboundProperties.myOutbound2]" level="INFO" doc:name="WrongLogger" />

    </flow>

    <flow name="anotherFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/testinbound2" allowedMethods="GET" doc:name="HTTP">
            <http:response statusCode="#[migration::HttpListener::httpListenerResponseSuccessStatusCode(vars)]">
                <!--Migration WARN: Avoid using an outbound property to determine the status code.-->
                <!--    For more information refer to:-->
                <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
                <http:headers><![CDATA[#[migration::HttpListener::httpListenerResponseHeaders(vars)]]]></http:headers>
            </http:response>
            <http:error-response statusCode="500" reasonPhrase="Internal Error">
                <!--Migration WARN: Avoid using an outbound property to determine the status code.-->
                <!--    For more information refer to:-->
                <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
                <http:headers><![CDATA[#[migration::HttpListener::httpListenerResponseHeaders(vars) ++ {'myOutbound2' : vars.compatibility_inboundProperties.customHeader}]]]></http:headers>
            </http:error-response>
        </http:listener>

        <compatibility:attributes-to-inbound-properties>
            <!--Migration WARN: Expressions that query 'inboundProperties' from the message should instead query the message 'attributes'. Remove this component if there are no uses of 'inboundProperties' in expressions or components that rely on 'inboundProperties' (such as 'copy-properties').-->
            <!--    For more information refer to:-->
            <!--        * https://docs.mulesoft.com/mule-runtime/4.3/intro-mule-message#inbound-properties-are-now-attributes-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#inbound_properties-->
        </compatibility:attributes-to-inbound-properties>

        <compatibility:set-property propertyName="myOutbound" value="#[vars.compatibility_inboundProperties.'http.query.params'.'type']" doc:name="Property">
            <!--Migration WARN: Instead of using outbound properties in the flow, move the expression that sets the property into the XML attribute (such as 'method') of the operation or listener that accepts the expression.-->
            <!--    For more information refer to:-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
        </compatibility:set-property>

        <flow-ref name="flow2" doc:name="Flow Reference" />

        <logger message="#['My outbound is:' ++ vars.compatibility_outboundProperties.myOutbound2 ++ vars.compatibility_inboundProperties.'http.query.params'.'type']" level="INFO" doc:name="Copy_of_WrongLogger" />

        <compatibility:outbound-properties-to-var>
            <!--Migration WARN: Instead of using outbound properties in the flow, move the expression that sets the property into the XML attribute (such as 'method') of the operation or listener that accepts the expression.-->
            <!--    For more information refer to:-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
        </compatibility:outbound-properties-to-var>

    </flow>

    <flow name="flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/testinbound" allowedMethods="GET" doc:name="HTTP">
            <http:response statusCode="#[migration::HttpListener::httpListenerResponseSuccessStatusCode(vars)]">
                <!--Migration WARN: Avoid using an outbound property to determine the status code.-->
                <!--    For more information refer to:-->
                <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
                <http:headers><![CDATA[#[migration::HttpListener::httpListenerResponseHeaders(vars) ++ {'isTest' : vars.compatibility_inboundProperties.isTest}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="500" reasonPhrase="Internal Error">
                <!--Migration WARN: Avoid using an outbound property to determine the status code.-->
                <!--    For more information refer to:-->
                <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
                <http:headers><![CDATA[#[migration::HttpListener::httpListenerResponseHeaders(vars) ++ {'myOutbound2' : vars.compatibility_inboundProperties.customHeader}]]]></http:headers>
            </http:error-response>
        </http:listener>

        <compatibility:attributes-to-inbound-properties>
            <!--Migration WARN: Expressions that query 'inboundProperties' from the message should instead query the message 'attributes'. Remove this component if there are no uses of 'inboundProperties' in expressions or components that rely on 'inboundProperties' (such as 'copy-properties').-->
            <!--    For more information refer to:-->
            <!--        * https://docs.mulesoft.com/mule-runtime/4.3/intro-mule-message#inbound-properties-are-now-attributes-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#inbound_properties-->
        </compatibility:attributes-to-inbound-properties>

        <compatibility:set-property propertyName="myOutbound" value="#[vars.compatibility_inboundProperties.'http.query.params'.'type']" doc:name="Property">
            <!--Migration WARN: Instead of using outbound properties in the flow, move the expression that sets the property into the XML attribute (such as 'method') of the operation or listener that accepts the expression.-->
            <!--    For more information refer to:-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
        </compatibility:set-property>

        <flow-ref name="flow2" doc:name="Flow Reference" />

        <logger message="#['My outbound is:' ++ vars.compatibility_outboundProperties.myOutbound2 ++ vars.compatibility_inboundProperties.'http.query.params'.'type']" level="INFO" doc:name="Copy_of_WrongLogger" />

        <compatibility:outbound-properties-to-var>
            <!--Migration WARN: Instead of using outbound properties in the flow, move the expression that sets the property into the XML attribute (such as 'method') of the operation or listener that accepts the expression.-->
            <!--    For more information refer to:-->
            <!--        * https://github.com/mulesoft/mule-migration-assistant/blob/master/docs/user-docs/migration-tool-post-mig.adoc#outbound_properties-->
        </compatibility:outbound-properties-to-var>

    </flow>

</mule>
