mule-migration-tool-e2e-tests/src/test/resources/e2e/request_reply/vm/input/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="request-reply">
        <request-reply>
            <vm:outbound-endpoint exchange-pattern="one-way" path="vm-request" />
            <vm:inbound-endpoint exchange-pattern="one-way" path="vm-response" />
        </request-reply>
    </flow>

    <flow name="entry">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vm-request" />
        <set-variable variableName="id" value="#[message.inboundProperties['id']]" />
    </flow>

</mule>